/* CSS DOCUMENT */

img{
    max-width: 15%; /* determina a largura máxima da imagem em relação à página */
    float: left;  /* funciona igual o antigo align soq só pra left ou right */
    margin: 0 50px 0 50px; /* define a margem em 4 parâmetros --> top, right, bottom, left --> respectivamente */
}

body{
    font-family: Arial,Helvetica,sans-serif;
    font-size: large;
}

p{
    text-align: justify;
}
